// ------ COLORS ------
$white: #fff;
$green: #68bf4a;
$green-dark: #4e9135;
$yellow: #fad200;
$grey: #E1E3E3;
$grey-light: #5e5e60;
$grey-dark: #3a3a3d;
$black: #000;
$orange: #d67246;
$blue: #1d63dc;
$blue-dark: #195aca;
